
  .custom-navbar {
    background-color: #ffc107 !important; /* Fija el fondo amarillo */
    opacity: 1; /* Asegura que no sea transparente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra para mayor visibilidad */
  }

  
  .brand-text {
    color: #383b3f;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: #383b3f;
  }
  
  .button-group .auth-button {
    background-color: #f3f5f9;
    color: #383b3f;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  .button-group .auth-button:last-child {
    margin-right: 0;
  }

.main-content {
  margin-top: 56px; /* Ajusta a la altura de la Navbar, por lo general 56px en Bootstrap */
}